.git
**/.git
node_modules
**/node_modules
.aws
.log
doc
bin
resources
shared/layer

.next
**/.next
out
**/out

.rush
**/.rush
.cache
**/.cache
.serverless
**/.serverless
.pnpm-store
**/.pnpm-store

**.error.log
**.build.log
